@media all {
    body {
        background-color: rgb(116, 219, 226);
    }
   
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
      }

    h3 {
        font-size: 18px;
        text-align: left;
        font-weight: lighter; 
        font-variant: small-caps;
        color: black;
        background-color: transparent ;
        letter-spacing: 10px;
        font-family: 'lora'; 
    }
    h4 {
        font-size: 20px;
        text-align: center;
        font-weight: bolder;
        font-variant: small-caps;
        color: black;
        background-color: transparent;
        letter-spacing: 10px;
        font-family: 'lora';
    }
    h5 {
        font-size: 20px;
        text-align: left;
        font-weight: bolder; 
        font-variant: small-caps;
        color: black;  
        background-color: transparent ; 
        letter-spacing: 8px;
        font-family: 'lora';
    }

    p {
        font-size: 18px;
        text-align: left;
        font-weight: normal; 
        font-variant: small-caps;
        color: black;  
        background-color: transparent ; 
        letter-spacing: 2px;
        font-family: 'open sans';

    }

    body {
        background-color: rgb(116, 219, 226);
    }
}

@media  print
{
    body {

        background-image:none;
        font-family: sans-serif;
        background-color: transparent;
        text-align: center;
        font-family: 'sans-serif';
    }
            
    h1 {
        font-size: 20px;
        text-align: center;
        font-weight: normal; /*bolder, light, lighter, 200*/
        font-variant: small-caps;
        color: #fff;  /*rgb  #ffffff*/ 
        background-color: transparent;
        font-style: normal;
        letter-spacing: 10px;
        font-family: 'sans-serif';
    }
        

}